node_modules/
.expo/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Expo / EAS
.env*.local
.env
ios/
android/

# IDE
.vscode/
.idea/
